body {
  background-image: url('../images/dark_desert_night.png' ) ;
  background-repeat: repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  position: relative;
  margin-right: 20%;
  margin-left: 28%;
}

p {
  color: yellow;
  font-family: 'Special Elite', cursive;
}

h3 {
  color: yellow;
  font-family: 'Special Elite', cursive;
}

footer button{
  margin-top: 10%;
  padding: 2%;
  font-family: 'Special Elite', cursive;
  color: yellow;
  background-color: #545454;
  border-radius: 15%;
  position: relative;
  z-index: 3;
}

h1 {
  font-family: 'Shadows Into Light', cursive;
}

header h1 {
  color: yellow;
  text-align: center;
  font-family: 'Special Elite', cursive;
}

.gameboard{
  /*min-width: 1024px;*/
  max-width: 64em;
}

.one, .two, .three, .four, .five {
  border: 2px solid #545454;
  display: inline-block;
  height: 6.25em;
  width: 6.25em;
 /* margin: 1% 1%;*/
}

.on {
  background-color: yellow;
}

.win {
  position: absolute;
  margin: 0 auto;
  display: none;
  color: red;
  left: 25%;
  top: 20%;
  z-index: 999;
}

#mask {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  display: none;
  background-color: black;
  top: 0;
  left: 0;
  opacity: .9;
}


